body {
  margin : 0;
  padding : 0;
  color : #000;
  font-size : 13px;
  font-family : arial,tahoma,helvetica,sans-serif;
}
#af-header {
  padding : 4px 10px;
  height : 5px;
  color : #fff;
  background : #AAAAAA url(./background.gif) repeat-x scroll 0px 0px;
}

#af-status {

}

.af-dlg .af-dlg-form,
.af-dlg .af-dlg-desc {
  margin : 10px;
}
.af-dlg .af-dlg-grid {
  margin : 10px;
  position : relative;
  border: 1px solid rgb(153, 187, 232);
  width : 560px;
  height : 280px;
}

.af-library .x-tree-node-collapsed .af-library-pack,
.af-library .x-tree-node-expanded .af-library-pack {
  background-image : url(../icons/mashupbuilder/package.png)
}

.af-library .x-tree-node-leaf .af-library-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .af-library-uaction {
  background-image : url(../icons/mashupbuilder/cog.png)
}

.af-library .x-tree-node-leaf .anchor-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .anchor-render-uaction {
  background-image : url(../icons/mashupbuilder/anchor.png)
}

.af-library .x-tree-node-leaf .image-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .image-render-uaction {
  background-image : url(../icons/mashupbuilder/image.png)
}

.af-library .x-tree-node-leaf .html-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .html-render-uaction {
  background-image : url(../icons/mashupbuilder/html.png)
}

.af-library .x-tree-node-leaf .list-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .list-render-uaction {
  background-image : url(../icons/mashupbuilder/text_list_bullets.png)
}

.af-library .x-tree-node-leaf .table-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .table-render-uaction {
  background-image : url(../icons/mashupbuilder/table.png)
}

.af-library .x-tree-node-leaf .tile-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .tile-render-uaction {
  background-image : url(../icons/mashupbuilder/application_tile_horizontal.png)
}

.af-library .x-tree-node-leaf .text-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .text-render-uaction {
  background-image : url(../icons/mashupbuilder/text_allcaps.png)
}

.af-library .x-tree-node-leaf .title-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .title-render-uaction {
  background-image : url(../icons/mashupbuilder/text_heading_1.png)
}

.af-library .x-tree-node-leaf .div-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .div-render-uaction {
  background-image : url(../icons/mashupbuilder/shape_move_forwards.png)
}

.af-library .x-tree-node-leaf .chart-pie-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .chart-pie-uaction {
  background-image : url(../icons/mashupbuilder/chart_pie.png)
}

.af-library .x-tree-node-leaf .chart-bar-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .chart-bar-uaction {
  background-image : url(../icons/mashupbuilder/chart_bar.png)
}

.af-library .x-tree-node-leaf .gmaps-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .gmaps-uaction {
  background-image : url(../icons/mashupbuilder/map.png)
}

.af-library .x-tree-node-leaf .timeline-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .timeline-render-uaction {
  background-image : url(../icons/mashupbuilder/shape_align_left.png)
}

.af-library .x-tree-node-leaf .image-widget-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .image-widget-uaction {
  background-image : url(../icons/mashupbuilder/photos.png)
}

.af-library .x-tree-node-leaf .flickr-widget-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .flickr-widget-uaction {
  background-image : url(http://www.flickr.com/favicon.ico)
}

.af-library .x-tree-node-leaf .tag-cloud-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .tag-cloud-render-uaction {
  background-image : url(../icons/mashupbuilder/tag_blue.png)
}

.af-library .x-tree-node-leaf .netvibes-widget-render-uaction,
.x-dd-drag-ghost .x-tree-node-leaf .netvibes-widget-render-uaction {
  background-image : url(http://www.netvibes.com/favicon.ico)
}

.af-library .x-layout-panel-south {
  background-color : #fff;
}

.af-params {
  border : 1px solid #fff;
}
.af-actions {
  margin : 0px;
  padding : 0px;
}
.af-actions .x-layout-panel-center .x-layout-panel-body {
  background : transparent url(editor-back.png);
}
.af-output {
  border : 1px solid #fff;
}
.af-panel-dragover {
  border : 1px solid #55f;
}
.af-action-input-wrap {
  border : 1px solid #eef;
  overflow : hidden;
}
.af-action-input {
  margin : 0px 0px;
  padding : 5px 20px;
}
.af-action-output-wrap {
  margin-top : 5px;
  border : 1px solid #aaf;
  background : #eef none;
}
.af-action-output {
  margin : 0px;
  padding : 0px;
  overflow : auto;
}
.af-action-output-tree { 
  padding : 2px 20px 5px 20px;
}
.af-action-output-loading {
  text-align : center;
  color : '#fff';
  background-color : #fcc;
}
.af-actionfield {
  margin : 5px 0px; 
}
.af-actionfield-bind-dragover {
  background : #faa none;
}
.af-actionfield .x-form-element .af-actionfield-delete-btn {
  border-width:0px;
  float:left;
  width:20px;
  height:16px;
  background : transparent url(../icons/mashupbuilder/cross.png) no-repeat;
}
.af-actionfield .af-actionfield-delete {
  visibility : hidden;
}
.x-layout-panel-center .x-layout-panel-body {
}
.x-layout-panel-south{
	background:#C3DAF9;
	border:0px none;
	border-top:1px solid #ddecfe;
}

.af-wgt-proxy {
	background-image: url(../js/extjs/resources/images/default/gradient-bg.gif);
	background-color:#c3daf9;
	border:1px solid #6593cf;
	z-index:10001;
	overflow:hidden;
	position:absolute;
	left:0;top:0;
}
.af-wgt-focus{
	-moz-outline:0 none;
	outline:0 none;
	width:0;
	height:0;
	overflow:hidden;
}

.af-wgt{
  margin : 0px auto;
  width : 600px;
}
.af-wgt .af-wgt-wgt-head {
	cursor:move;
	background: url(../js/extjs/resources/images/default/basic-dialog/hd-sprite.gif) repeat-x 0 -82px;
	background-color:navy;
	color:#FFF;
	font:bold 12px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
	padding:5px;
  white-space: nowrap;
}
.af-wgt .af-wgt-hd {
  float : left;
}
.af-wgt .af-wgt-hd-left {
	background: url(../js/extjs/resources/images/default/basic-dialog/hd-sprite.gif) no-repeat 0 -41px;
	padding-left:3px;
	margin:0;
}
.af-wgt .af-wgt-hd-right {
	background: url(../js/extjs/resources/images/default/basic-dialog/hd-sprite.gif) no-repeat right 0;
	padding-right:3px;
}
.af-wgt .af-wgt-wgt-body{
	background:url(../js/extjs/resources/images/default/layout/gradient-bg.gif);
	border:1px solid #6593cf;
	border-top:0 none;
	padding:10px;
	overflow:hidden;
}
.af-wgt .af-wgt-bd{
	overflow:hidden;
}
.af-wgt .af-wgt-ft{
	overflow:hidden;
	padding:5px;
	padding-bottom:0;
}

.af-wgt-draggable .af-wgt-hd{
}
.af-wgt-closable .af-wgt-hd{
	padding-right:22px;
}
.af-wgt-toolbox {
  float : right;
  width:40px;
  cursor:default;
  height:15px;
  background:transparent;
}
.af-wgt .af-wgt-close, .af-wgt .af-wgt-collapse {
  float:right;
  height:15px;
	width:15px;
	margin:0;
  margin-left:2px;
  padding:0;
	line-height:1px;
	font-size:1px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
}
.af-wgt .af-wgt-close {
  background-image:url(../js/extjs/resources/images/default/basic-dialog/close.gif);
}
.af-wgt .af-wgt-collapse {
  background-image:url(../js/extjs/resources/images/default/basic-dialog/collapse.gif);
}
.af-wgt-collapsed .af-wgt-collapse {
  background-image:url(../js/extjs/resources/images/default/basic-dialog/expand.gif);
}
.af-wgt-collapsed .af-wgt-wgt-body {
  display : none;
}
.af-wgt .af-wgt-close-over, .af-wgt .af-wgt-collapse-over {
    
}
.af-wgt-margin {
  margin : 0px auto;
  padding : 0px;
  width : 600px;
  border : 1px solid #ffffff;
}
.af-wgt-margin .af-wgt-margin-line {
  margin : 15px 0px;
  padding : 0px;
  width : 100%;
  height : 5px;
  font-size : 1px;
}
.af-wgt-margin-dragover .af-wgt-margin-line {
  background-color : #000000;
}

.af-refresh-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/arrow_refresh.png)
}
.af-add-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/add.png)
}
.af-open-inner-proc-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/application_cascade.png)
}
.af-new-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/page.png)
}
.af-open-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/folder.png)
}
.af-save-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/disk.png)
}
.af-load-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/package_add.png)
}
.af-publish-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/world_go.png)
}
.af-run-btn .x-btn-text {
  background-image : url(../icons/mashupbuilder/script_go.png)
}
.af-html-btn .x-menu-item-icon {
  background-image : url(../icons/mashupbuilder/html.png)
}
.af-js-btn .x-menu-item-icon {
  background-image : url(../icons/mashupbuilder/script_code_red.png)
}
.af-gadget-btn .x-menu-item-icon {
  background-image : url(../icons/mashupbuilder/image.png)
}
.af-google-btn .x-menu-item-icon {
  background-image : url(http://www.google.com/favicon.ico)
}
.af-netvibes-btn .x-menu-item-icon {
  background-image : url(http://www.netvibes.com/favicon.ico)
}

.timeplot-copyright{display:none;} 

