background-image : url(../icons/add.png)
background-image : url(../icons/anchor.png)
background-image : url(../icons/application_cascade.png)
background-image : url(../icons/application_tile_horizontal.png)
background-image : url(../icons/arrow_refresh.png)
background-image : url(../icons/chart_bar.png)
background-image : url(../icons/chart_pie.png)
background-image : url(../icons/cog.png)
background-image : url(../icons/color_swatch.png)
background-image : url(../icons/cross.png)
background-image : url(../icons/disk.png)
background-image : url(../icons/folder.png)
background-image : url(../icons/html.png)
background-image : url(../icons/image.png)
background-image : url(../icons/layout.png)
background-image : url(../icons/layout_add.png)
background-image : url(../icons/layout_delete.png)
background-image : url(../icons/map.png)
background-image : url(../icons/map_add.png)
background-image : url(../icons/package.png)
background-image : url(../icons/package_add.png)
background-image : url(../icons/page.png)
background-image : url(../icons/photos.png)
background-image : url(../icons/script_code_red.png)
background-image : url(../icons/script_go.png)
background-image : url(../icons/shape_align_left.png)
background-image : url(../icons/shape_handles.png)
background-image : url(../icons/shape_move_forwards.png)
background-image : url(../icons/table.png)
background-image : url(../icons/tag_blue.png)
background-image : url(../icons/text_align_justify.png)
background-image : url(../icons/text_align_left.png)
background-image : url(../icons/text_align_center.png)
background-image : url(../icons/text_align_right.png)
background-image : url(../icons/text_allcaps.png)
background-image : url(../icons/text_heading_1.png)
background-image : url(../icons/text_list_bullets.png)
background-image : url(../icons/world_go.png)

background-image : url(../icons/editor/blue1_preview.png)
background-image : url(../icons/editor/blue2_preview.png)
background-image : url(../icons/editor/blue3_preview.png)
background-image : url(../icons/editor/blue4_preview.png)
background-image : url(../icons/editor/blue5_preview.png)
background-image : url(../icons/editor/bluegrey_preview.png)
background-image : url(../icons/editor/green1_preview.png)
background-image : url(../icons/editor/green2_preview.png)
background-image : url(../icons/editor/green3_preview.png)
background-image : url(../icons/editor/green4_preview.png)
background-image : url(../icons/editor/green5_preview.png)
background-image : url(../icons/editor/grey_preview.png)
background-image : url(../icons/editor/orange1_preview.png)
background-image : url(../icons/editor/orange2_preview.png)
background-image : url(../icons/editor/pink_preview.png)
background-image : url(../icons/editor/red1_preview.png)
background-image : url(../icons/editor/red2_preview.png)
background-image : url(../icons/editor/eu_preview.png)