body {
 background-color:#FFFFFF;
 color: #000000;
 font-size: 9pt;
 margin: 0;
}
* {
 font-family: Arial,Helvetica,sans serif; 
 font-variant: normal;
 font-style: normal;

}
a,a:link,a:visited,a:active {
 cursor: hand;
 color: #0037FF;
 text-decoration:none;
}
h1 {
  
 margin: 5px;
 padding: 0pt;
 font-family: Arial,Helvetica,sans-serif;
 color: #003788;
 font-size: 160%;
 font-weight: bold;
}

h2 { 
 margin: 5px;
 padding: 0pt;
 font-family: Arial,Helvetica,sans-serif;
 font-size: 140%;
 font-weight: bold;
 color: #003788;
}

h3 { 
 margin: 5px;
 padding: 0pt;
 font-family: Arial,Helvetica,sans-serif;
 font-size: 120%;
 color: #003788;
 text-align:left;
}

#chartdata {
	float:left;
}
#datatable {
    border:1px solid #DDD;
}
#datatable>tbody>tr>td {
 vertical-align:top;
 border-bottom:1px dotted #DDD;
 border-left: 1px dotted #DDD;
 margin:0;
 overflow:hidden;
}

#high {
	background: #fb1414;
}

#medium{
	background: #f3bf21;
}
#low{
	background: #f1f321;
}

.field {
 border:1px solid #CCC;
 width:75px;
}
#chartarea {
	float:left;
	margin-left:10px;
}
#chartcode {
	float:left;
	margin-left:10px;
}

.vulnerability>tbody>tr>td{
 	border:1px solid #DDD;
	background: #e1e1e1;
}

.vulnerability {
	max-width: 800px;
	width: 800px;
}

.credits {
  margin: 5px;
  padding: 0pt;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 100%;
  color: #003788;
  text-align:right;
}

#div-body {
  border-style: solid;
  border-color: #B7C8E8;
}

#div-inner-body {
  margin: 15px;
}

#about-header {
  padding : 8px 10px;
  height : 81px;
  color : #fff;
  background : #AAAAAA url(./background.gif) repeat-x scroll 0px 0px;
}

#about-header #about-header-icon {
  background-image : url(../images/mycocktail-logo.gif);
  width : 360px;
  height : 71px;
  float : left;
  margin : 2px;
}

#about-header #about-title {
  color: #DDDDDD;
  font-size : 18px;
  font-weight : bold;
  font-family : "Century Gothic",Verdana,Arial,Helvetica,sans-serif;
  float : left;
}

#about-footer {
  padding : 8px 10px;
  height : 61px;
  color : #fff;
  background : #AAAAAA url(./background.gif) repeat-x scroll 0px 0px;
}

#footer {
  height: 70px;
  padding-left:5px;
  background: #545248 none repeat scroll 0 0;
  color: #DBD3D3;
  font-size: 8pt;
}

#footer_left {
  width : 30%;
  height : 61px;
  float : left;
  margin-right : 4px;
}

#footer_center {
  float: left;
  width: 40%;
  height: 61px;
  text-align:left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 170%;
  color: #003788;
  text-align:center;
  font-weight: bold;
}
#footer_right {
  float: right;
  width: 30%;
  margin: 0;
  height: 61px;
  padding-top: 5px;
  text-align:right;
  margin-left: -10px;
}
#footer a{
	color: #DBD3D3;
	text-decoration:underline;
}
